#con{
    width: 90%;
    margin: auto;
}
body{
    background: #fff0ac;
    width: 100%;
    text-align: left;
    margin: auto;
}
#lg{
    height: 150px;
    margin: 5px 0 0 275px;
}
#tit{
    height: 150px;
}
#fb{
    height: 50px;
}
#ig{
    height: 50px;
}
img.myImg{
  height: 14rem;
  object-fit: cover !important;
  overflow: hidden !important;
}
.card mb-3{
    max-width: 540px;
}
footer{
    background-color: #d7d7df;
}