body{
    text-align: center;
    background-color: #fff0ac;
}
.col {
    padding: 0 0 0 5%;
}
#txt{
    text-align: left;
}
#lg{
    height: 150px;
}
#tit{
    height: 150px;
}
.card mb-3{
    max-width: 530px;
}
footer{
    background-color: #d7d7df;
}