*{
    font-size: 1rem;
}
.container{
    width: 100%;
}


article{
    flex: 8;
    order: 5;
}

aside{
    flex: 1;
    order: 3;
}

aside.three{
    flex: 1;
    order: 3;
}

