body {
    background: #000000;
  }
  
  .flash{ 
      position:fixed; 
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:#fff;
   }
.btn1{
    position: absolute;
	top: 30px;
	left: px;

    margin-left: 200px;
    margin-top: 200px;
}
.btn2{
    position: absolute;
    margin-left: 1000px;
    margin-top: 250px;
}
.btn3{
    position: absolute;
    margin-left: 0px;
    margin-top: 460px;
}
   