.hr-edge-weak {
    border: 4;
    padding-top: 1px;
    background: linear-gradient(to right, transparent, rgb(23, 56, 87), transparent);
}

.singer1 {
    color: rgb(213, 216, 230);
    position:relative;
}

.singer1:hover {
    color: rgb(25, 70, 109);
}

.singer1:hover::before {
    position: absolute;
    top: -40px;
    left: 200px;
    color: rgb(234, 236, 243);
    font-size: .7em;
    background: rgb(36, 63, 104);
    padding: 5px;
    border-radius: 5px;
    content: '2019年結成的日本雙人音樂組合，由使用VOCALOID的作曲家的Ayase、以及本業為創作歌手的ikura組成。其特色為將在日本索尼音樂娛樂所經營的小說及插畫網站「monogatary.com」中的原作小說音樂化。';
}

#pic1 .container1 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translateY(-50%) translateX(-50%);

}

#pic1 .img1 {
    position: relative;
    overflow: hidden;
}

#pic1 .img1 img {
    width: 100%;
    transition: .3s;
}

#pic1 .text1 {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(234, 236, 243, 0.9);
    transition: .5s;
}

#pic1 .text1 h3 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: rgb(23, 56, 87);
}

#pic1 .img1:hover .text1 {
    left: 0;
}

#pic1 .img1:hover img {
    transform: scale(1.2);
}

#lyrics1 {
    font-size: 20px;
    text-align: center;
    padding-left: 60px;
}

#lyrics1 h2 {
    padding-top:55px;
    color: rgb(213, 216, 230);
}

#lyrics1 p {
    color: rgb(213, 216, 230);
}

.singer2 {
    color: rgb(213, 216, 230);
    position:relative;
}

.singer2:hover {
    color: rgb(25, 70, 109);
}

.singer2:hover::before {
    position: absolute;
    top: -40px;
    left: 150px;
    color: rgb(234, 236, 243);
    font-size: .7em;
    background: rgb(36, 63, 104);
    padding: 5px;
    border-radius: 5px;
    content: '由作曲作詞人N-buna和主音Suis所組成的兩人樂團，名字取自於他們的其中一首歌《雲和幽靈》的歌詞：只有夜晚才能入眠，特色是將故事寫成歌曲，因此每一首歌曲都是環環相扣的，具有很強的關聯性。';
}

#pic2 .container2 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translateY(-50%) translateX(-50%);

}

#pic2 .img2 {
    position: relative;
    overflow: hidden;
}

#pic2 .img2 img {
    width: 100%;
    transition: .3s;
}

#pic2 .text2 {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(234, 236, 243, 0.9);
    transition: .5s;
}

#pic2 .text1 h3 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: rgb(23, 56, 87);
}

#pic2 .img2:hover .text2 {
    left: 0;
}

#pic2 .img2:hover img {
    transform: scale(1.2);
}

#lyrics2 {
    font-size: 20px;
    text-align: center;
    padding-left: 60px;
}

#lyrics2 h2 {
    padding-top:55px;
    color: rgb(213, 216, 230);
}

#lyrics2 p {
    color: rgb(213, 216, 230);
}

.singer3 {
    color: rgb(213, 216, 230);
    position:relative;
}

.singer3:hover {
    color: rgb(25, 70, 109);
}

.singer3:hover::before {
    position: absolute;
    top: -20px;
    left: 250px;
    color: rgb(234, 236, 243);
    font-size: .7em;
    background: rgb(36, 63, 104);
    padding: 5px;
    border-radius: 5px;
    content: '日本女性創作歌手，出生於兵庫縣西宮市，所屬經紀公司為ENS Entertainment。她在2015年時，發表了一張獨立唱片《貴方解剖純愛歌 〜死ね〜》而出道。';
}

#pic3 .container3 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translateY(-50%) translateX(-50%);

}

#pic3 .img3 {
    position: relative;
    overflow: hidden;
}

#pic3 .img3 img {
    width: 100%;
    transition: .3s;
}

#pic3 .text3 {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(234, 236, 243, 0.9);
    transition: .5s;
}

#pic3 .text3 h3 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: rgb(23, 56, 87);
}

#pic3 .img3:hover .text3 {
    left: 0;
}

#pic3 .img3:hover img {
    transform: scale(1.2);
}

#lyrics3 {
    font-size: 20px;
    text-align: center;
    padding-left: 60px;
}

#lyrics3 h2 {
    padding-top:55px;
    color: rgb(213, 216, 230);
}

#lyrics3 p {
    color: rgb(213, 216, 230);
}

.singer4 {
    color: rgb(213, 216, 230);
    position:relative;
}

.singer4:hover {
    color: rgb(25, 70, 109);
}

.singer4:hover::before {
    position: absolute;
    top: -20px;
    left: 160px;
    color: rgb(234, 236, 243);
    font-size: .7em;
    background: rgb(36, 63, 104);
    padding: 5px;
    border-radius: 5px;
    content: '日本女歌手。名字是來自小學上課時教到的日本古典藝能狂言的劇目《柿山伏》中的配角アド(Ado)名字，覺得聽起來很響亮很帥氣，就把它選做自己的名字。';
}

#pic4 .container4 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translateY(-50%) translateX(-50%);

}

#pic4 .img4 {
    position: relative;
    overflow: hidden;
}

#pic4 .img4 img {
    width: 100%;
    transition: .3s;
}

#pic4 .text4 {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(234, 236, 243, 0.9);
    transition: .5s;
}

#pic4 .text4 h3 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: rgb(23, 56, 87);
}

#pic4 .img4:hover .text4 {
    left: 0;
}

#pic4 .img4:hover img {
    transform: scale(1.2);
}

#lyrics4 {
    font-size: 20px;
    text-align: center;
    padding-left: 60px;
}

#lyrics4 h2 {
    padding-top:55px;
    color: rgb(213, 216, 230);
}

#lyrics4 p {
    color: rgb(213, 216, 230);
}

.singer5 {
    color: rgb(213, 216, 230);
    position:relative;
}

.singer5:hover {
    color: rgb(25, 70, 109);
}

.singer5:hover::before {
    position: absolute;
    top: -23px;
    left: 180px;
    color: rgb(234, 236, 243);
    font-size: .7em;
    background: rgb(36, 63, 104);
    padding: 5px;
    border-radius: 5px;
    content: '日本全能創作歌手。在 2019 年因〈東京フラッシュ〉一曲在網路上竄紅，立刻就成為備受矚目的樂壇新星。';
}

#pic5 .container5 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translateY(-50%) translateX(-50%);

}

#pic5 .img5 {
    position: relative;
    overflow: hidden;
}

#pic5 .img5 img {
    width: 100%;
    transition: .3s;
}

#pic5 .text5 {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(234, 236, 243, 0.9);
    transition: .5s;
}

#pic5 .text5 h3 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: rgb(23, 56, 87);
}

#pic5 .img5:hover .text5 {
    left: 0;
}

#pic5 .img5:hover img {
    transform: scale(1.2);
}

#lyrics5 {
    font-size: 20px;
    text-align: center;
    padding-left: 60px;
}

#lyrics5 h2 {
    padding-top:55px;
    color: rgb(213, 216, 230);
}

#lyrics5 p {
    color: rgb(213, 216, 230);
}

.singer6 {
    color: rgb(213, 216, 230);
    position:relative;
}

.singer6:hover {
    color: rgb(25, 70, 109);
}

.singer6:hover::before {
    position: absolute;
    top: -20px;
    left: 200px;
    color: rgb(234, 236, 243);
    font-size: .7em;
    background: rgb(36, 63, 104);
    padding: 5px;
    border-radius: 5px;
    content: '日本女歌手，藝名Aimer取自法語，意為「愛」，作詞以Aimerrhythm名義。在2011年以單曲《六等星の夜》正式出道，隸屬的唱片公司是日本索尼音樂娛樂旗下的SME Records。';
}

#pic6 .container6 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translateY(-50%) translateX(-50%);

}

#pic6 .img6 {
    position: relative;
    overflow: hidden;
}

#pic6 .img6 img {
    width: 100%;
    transition: .3s;
}

#pic6 .text6 {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(234, 236, 243, 0.9);
    transition: .5s;
}

#pic6 .text6 h3 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: rgb(23, 56, 87);
}

#pic6 .img6:hover .text6 {
    left: 0;
}

#pic6 .img6:hover img {
    transform: scale(1.2);
}

#lyrics6 {
    font-size: 20px;
    text-align: center;
    padding-left: 60px;
}

#lyrics6 h2 {
    padding-top:55px;
    color: rgb(213, 216, 230);
}

#lyrics6 p {
    color: rgb(213, 216, 230);
}

.singer7 {
    color: rgb(213, 216, 230);
    position:relative;
}

.singer7:hover {
    color: rgb(25, 70, 109);
}

.singer7:hover::before {
    position: absolute;
    top: -20px;
    left: 180px;
    color: rgb(234, 236, 243);
    font-size: .7em;
    background: rgb(36, 63, 104);
    padding: 5px;
    border-radius: 5px;
    content: '日本4人搖滾樂隊，於2017年以常田大希為核心结成。現為日本索尼音樂旗下藝人，成員為常田大希、勢喜游、新井和輝和井口理。';
}

#pic7 .container7 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translateY(-50%) translateX(-50%);

}

#pic7 .img7 {
    position: relative;
    overflow: hidden;
}

#pic7 .img7 img {
    width: 100%;
    transition: .3s;
}

#pic7 .text7 {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(234, 236, 243, 0.9);
    transition: .5s;
}

#pic7 .text7 h3 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: rgb(23, 56, 87);
}

#pic7 .img7:hover .text7 {
    left: 0;
}

#pic7 .img7:hover img {
    transform: scale(1.2);
}

#lyrics7 {
    font-size: 20px;
    text-align: center;
    padding-left: 60px;
}

#lyrics7 h2 {
    padding-top:55px;
    color: rgb(213, 216, 230);
}

#lyrics7 p {
    color: rgb(213, 216, 230);
}

.singer8 {
    color: rgb(213, 216, 230);
    position:relative;
}

.singer8:hover {
    color: rgb(25, 70, 109);
}

.singer8:hover::before {
    position: absolute;
    top: -20px;
    left: 170px;
    color: rgb(234, 236, 243);
    font-size: .7em;
    background: rgb(36, 63, 104);
    padding: 5px;
    border-radius: 5px;
    content: '日本的創作歌手。2009年以網路為中心展開活動。除了製作音樂，Eve還是一名服裝設計師，是中性服飾品牌「harapeco」的製造商和店長。';
}

#pic8 .container8 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translateY(-50%) translateX(-50%);

}

#pic8 .img8 {
    position: relative;
    overflow: hidden;
}

#pic8 .img8 img {
    width: 100%;
    transition: .3s;
}

#pic8 .text8 {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(234, 236, 243, 0.9);
    transition: .5s;
}

#pic8 .text8 h3 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: rgb(23, 56, 87);
}

#pic8 .img8:hover .text8 {
    left: 0;
}

#pic8 .img8:hover img {
    transform: scale(1.2);
}

#lyrics8 {
    font-size: 20px;
    text-align: center;
    padding-left: 60px;
}

#lyrics8 h2 {
    padding-top:55px;
    color: rgb(213, 216, 230);
}

#lyrics8 p {
    color: rgb(213, 216, 230);
}

.singer9 {
    color: rgb(213, 216, 230);
    position:relative;
}

.singer9:hover {
    color: rgb(25, 70, 109);
}

.singer9:hover::before {
    position: absolute;
    top: -20px;
    left: 170px;
    color: rgb(234, 236, 243);
    font-size: .7em;
    background: rgb(36, 63, 104);
    padding: 5px;
    border-radius: 5px;
    content: '日本音樂組合。其主唱、作詞作曲均由ACA-Ne（ACAね）完成或合作完成。2018年6月4日，其在影音網站YouTube上發佈了《秒針を噛む》的MV，標誌著樂團的活動正式開始。';
}

#pic9 .container9 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translateY(-50%) translateX(-50%);

}

#pic9 .img9 {
    position: relative;
    overflow: hidden;
}

#pic9 .img9 img {
    width: 100%;
    transition: .3s;
}

#pic9 .text9 {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(234, 236, 243, 0.9);
    transition: .5s;
}

#pic9 .text9 h3 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: rgb(23, 56, 87);
}

#pic9 .img9:hover .text9 {
    left: 0;
}

#pic9 .img9:hover img {
    transform: scale(1.2);
}

#lyrics9 {
    font-size: 20px;
    text-align: center;
    padding-left: 60px;
}

#lyrics9 h2 {
    padding-top:55px;
    color: rgb(213, 216, 230);
}

#lyrics9 p {
    color: rgb(213, 216, 230);
}

.singer10 {
    color: rgb(213, 216, 230);
    position:relative;
}

.singer10:hover {
    color: rgb(25, 70, 109);
}

.singer10:hover::before {
    position: absolute;
    top: -20px;
    left: 260px;
    color: rgb(234, 236, 243);
    font-size: .7em;
    background: rgb(36, 63, 104);
    padding: 5px;
    border-radius: 5px;
    content: '日本搖滾樂團，成立於2005年。由Taka、Toru、Ryota、Tomoya、Alex五人組成的搖滾樂團（Alex於2009離團後為四人樂團）。團名多以全大寫表示。';
}

#pic10 .container10 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translateY(-50%) translateX(-50%);

}

#pic10 .img10 {
    position: relative;
    overflow: hidden;
}

#pic10 .img10 img {
    width: 100%;
    transition: .3s;
}

#pic10 .text10 {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(234, 236, 243, 0.9);
    transition: .5s;
}

#pic10 .text10 h3 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: rgb(23, 56, 87);
}

#pic10 .img10:hover .text10 {
    left: 0;
}

#pic10 .img10:hover img {
    transform: scale(1.2);
}

#lyrics10 {
    font-size: 20px;
    text-align: center;
    padding-left: 60px;
}

#lyrics10 h2 {
    padding-top:55px;
    color: rgb(213, 216, 230);
}

#lyrics10 p {
    color: rgb(213, 216, 230);
}