@import './modules/variables.scss';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 $header-height 0;
    font-family: $body-font;
    font-size: map-get($map: $font-size, $key: 'normal');
    background-color: $body-color;
    color: map-get($map: $text, $key: 'color');
    overflow-x: hidden;
}

h1,h2,h3,h4{
    color: $title-color;
    font-weight: map-get($map: $font-weight, $key:'semi-bold' );
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}